@import "tailwindcss";

body {
  @apply  bg-gray-400

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.button{
  @apply w-full bg-gray-400 text-gray-700 hover:bg-green-600 p-2
}
